<%- include('../includes/head') %>

    <body>
        <%- include('../includes/navbar', {"criarSection": false}) %>
        
            <h3 style="text-align: center;"><%=grupo.nome%></h3>
            
            <br>
            <div class="container">
                <div class="content container-fluid bootstrap snippets bootdey">
                    <div class="row row-broken">
                        <div class="col-sm-3 col-xs-12">
                            <div class="col-inside-lg chat"
                                style="overflow: scroll; outline: none;"
                                tabindex="5000">
                                <div class="chat-users">
                                    <h6>Membros
                                    <% if(permissaoUsuarioGrupo == 'admin'){ %>
                                            <a href="/grupos/<%=grupo.id%>/adicionarMembro">
                                                <i class="fa fa-plus"> Adicionar</i>
                                            </a>
                                    <% } %>
                                    </h6>
                                    <% membrosGrupo.forEach(membro=> { %>
                                        <div class="user">
                                            <div class="avatar">
                                                <img src="/images/usuario.png" alt="Nome do usuário">
                                                <div class="status online"></div>
                                            </div>
                                            <div class="name"><%=membro.nome%></div>
                                            <div class="permissao"><%=membro.permissao%></div>
                                        </div>
                                        <% }) %>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 chat" style="overflow: scroll; outline: none;" tabindex="5001">
                            <div class="col-inside-lg decor-default"
                                style="border-radius: 0.5rem;; min-height: 100%;">
                                <div class="chat-body">
                                    <h6>Mensagens</h6>
                                    <% mensagens.forEach(mensagem=> { %>
                                        <div class="answer <%=mensagem.posicao%>">
                                            <div class="avatar">
                                                <img src="/images/usuario.png" alt="Nome do usuário">
                                                <div class="status online"></div>
                                            </div>
                                            <div class="name"><%=mensagem.nomeusuario%></div>
                                            <div class="text">
                                                <%=mensagem.texto%>
                                            </div>
                                            <div class="time">
                                                <% let options={ weekday: 'long' , year: 'numeric' , month: 'numeric' , day: 'numeric', hour: 'numeric', minute: 'numeric'}; %>
                                                    <%= new Date(mensagem.dataenvio).toLocaleDateString('pt-BR', options) %>
                                                </div>
                                        </div>
                                    <% }) %>
                                    <% if(permissaoUsuarioGrupo !== 'leitor'){ %>
                                    <div class="answer-add">
                                        <input placeholder="Escrever uma mensagem">
                                        <span class="answer-btn answer-btn-1"><i class="fa fa-paper-plane text-light"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../includes/footer', {"criarSection": false}) %>
    </body>