<%- include('../includes/head') %>

<body>
    <%- include('../includes/navbar') %>
    <div class="w3-container" style="padding-left: 10%; padding-right: 10%;">
        <h1 class="titulo">MEUS GRUPOS</h1>    
        <table class="w3-table w3-bordered w3-border w3-hoverable">
                    <thead style="color: #403866c5">
                        <tr>
                            <th>NOME DO GRUPO</th>
                            <th></th>
                        </tr>
                    </thead>
                    <% grupos.forEach(grupo=> { %>
                        <tr>
                            <td>
                                <%= grupo.nome %>
                            </td>
                            <td>
                                <a href="/grupos/<%= grupo.idgrupo %>" class="txt1">
                                    Ir para a conversa ➝
                                </a>
                            </td>
                        </tr>
                    <% }) %>    
        </table>
    </div>
    <%- include('../includes/footer') %>
</body>